<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Nuevo Empleado</h3>
        </div>
        <div class="card-body">
            <form action="" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                        <label for="">Apellido Paterno:</label>
                        <input placeholder="Por ejemplo, Flores"
                        minlength="1" maxlength="20"  required 
                       
                        type="text" class="form-control"  [(ngModel)]="modelPersona.usuApellidopaterno" name="usuApellidopaterno"
                       
                        >
                        </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                        <label for="">Apellido Materno:</label>
                        <input 
                        placeholder="Por ejemplo, Pozo"
                        minlength="1" maxlength="20"  required 
                        type="text" class="form-control" [(ngModel)]="modelPersona.usuApellidomaterno" name="usuApellidomaterno" >
                       </div>
                    </div>       
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Primer Nombre:</label>
                            <input
                            placeholder="Por ejemplo, Jhonny"
                            minlength="1" maxlength="20"  required 
                            type="text" class="form-control" [(ngModel)]="modelPersona.usuPrimernombre" name="usuPrimernombre" >
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                            <label for="">Segundo Nombre:</label>
                            <input 
                            placeholder="Por ejemplo, Segundo"
                           minlength="1" maxlength="20"  required 
                            type="text" class="form-control" [(ngModel)]="modelPersona.usuSegundonombre" name="usuSegundonombre">
                           </div>
                    </div>       
                </div>
               
              
                <div class="row">
                    <div class="col-md-4"> 
                        <label for="">Tipo de Identificación</label>
                        <div class="form-group">
                           
                            
                            <select [(ngModel)]="modelPersona.usuIdTipo" name="usuIdTipo">
                                <!-- Opciones del Combo -->
                                <option 
                                *ngFor="let tipo of tipos"  [ngValue]="tipo"
                                >{{tipo.tipoidentificacionDescripcion}}</option>
                            </select>
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                            <label for="">Numero de Identificación</label>
                            <input 
                            placeholder="Por ejemplo, 2400269288"
                            minlength="1" maxlength="20"  required
                            type="text" class="form-control" [(ngModel)]="modelPersona.usuNumeroidentificacion" name="usuNumeroidentificacion">
                           </div>
                    </div>       
                </div>
               
               
               
                <div class="row">
                    <div class="col-md-4"> 
                        <label for="">Area</label>
                        <div class="form-group">
                           
                            
                            <select  [(ngModel)]="modelPersona.usuIdArea" name="usuIdArea">
                                <!-- Opciones del Combo -->
                                <option 
                                *ngFor="let areas of area"  [ngValue]="areas"
                                >{{areas.areaDescripcion}}</option>
                            </select>
                           </div>
                   </div>
    
                   <div class="col-md-4"> 
                    <label for="">Pais</label>
                    <div class="form-group" >
                       
                        
                        <select    [(ngModel)]="modelPersona.usuIdPais" name="usuIdPais" >
                            <!-- Opciones del Combo -->
                            <option 
                            *ngFor="let paise of paises"   [ngValue]="paise"
                            >{{paise.paisDescripcion}}</option>
                        </select>
                       </div>
               </div>      
                </div>
               
               
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Fecha de Ingreso:</label>
                            <input type="date" class="form-control" [(ngModel)]="modelPersona.usuFechaingreso" name="usuFechaingreso">
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                            <label for="">Fecha de Registro:</label>
                            <input readonly type="date" class="form-control" [(ngModel)]="modelPersona.usuFechahoraregistro" name="usuFechahoraregistro">
                           </div>
                    </div>       
                </div>
                
               
                
               
           
            <button (click)="Guardar(modelPersona)" class="btn btn-danger">
                Guardar
            </button>
            </form>
        </div>
    </div>
</div>
