<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Editar Datos del Empleado</h3>
        </div>
        <div class="card-body">
            <form action="" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                        <label for="">Apellido Paterno:</label>
                        <input type="text" class="form-control"  [(ngModel)]="persona.usuApellidopaterno" name="usuApellidopaterno" >
                        </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                        <label for="">Apellido Materno:</label>
                        <input type="text" class="form-control" [(ngModel)]="persona.usuApellidomaterno" name="usuApellidomaterno" >
                       </div>
                    </div>       
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Primer Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="persona.usuPrimernombre" name="usuPrimernombre" >
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                            <label for="">Segundo Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="persona.usuSegundonombre" name="usuSegundonombre">
                           </div>
                    </div>       
                </div>
               
              
                <div class="row">
                    <div class="col-md-4"> 
                        <label for="">Tipo de Identificación</label>
                        <div class="form-group">
                           
                            
                            <select [(ngModel)]="persona.usuIdTipo" name="usuIdTipo">
                                <!-- Opciones del Combo -->
                                <option  
                                *ngFor="let tipo of tipos"  [ngValue]="tipo" 
                                >{{tipo.tipoidentificacionDescripcion}}</option>
                            </select>
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                            <label for="">Numero de Identificación</label>
                            <input type="text" class="form-control" [(ngModel)]="persona.usuNumeroidentificacion" name="usuNumeroidentificacion">
                           </div>
                    </div>       
                </div>
               
               
               
                <div class="row">
                    <div class="col-md-4"> 
                        <label for="">Area</label>
                        <div class="form-group">
                           
                            
                            <select  [(ngModel)]="persona.usuIdArea" name="usuIdArea">
                                <!-- Opciones del Combo -->
                                <option 
                                *ngFor="let areas of area"  [ngValue]="areas"
                                >{{areas.areaDescripcion}}</option>
                            </select>
                           </div>
                   </div>
    
                   <div class="col-md-4"> 
                    <label for="">Pais</label>
                    <div class="form-group" >
                       
                        
                        <select    [(ngModel)]="persona.usuIdPais" name="usuIdPais" >
                            <!-- Opciones del Combo -->
                            <option 
                            *ngFor="let paise of paises"   [ngValue]="paise"
                            >{{paise.paisDescripcion}}</option>
                        </select>
                       </div>
               </div>      
                </div>
               
               
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Fecha de Ingreso:</label>
                            <input readonly type="date" class="form-control" [(ngModel)]="persona.usuFechaingreso" name="usuFechaingreso">
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        <div class="form-group">
                            <label for="">Fecha de Registro:</label>
                            <input readonly type="date" class="form-control" [(ngModel)]="persona.usuFechahoraregistro" name="usuFechahoraregistro">
                           </div>
                    </div>       
                </div>
                
               
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Fecha de Edición:</label>
                            <input type="date" class="form-control" [(ngModel)]="persona.usuFechaedicion" name="usuFechaedicion">
                           </div>
                   </div>
    
                    <div class="col-md-4"> 
                        
                    </div>       
                </div>
               
           
            <button (click)="Actualizar(persona)" class="btn btn-danger">
                Actualizar
            </button>
            </form>
        </div>
    </div>
</div>
